################################################################################
# Otaru config file example.
################################################################################

# GCP settings

# - Google Cloud Platform project name for storing otaru blobs/metadata.
project_name = "example-com"

# - Google Cloud Storage bucket for storing otaru blobs.
bucket_name = "otaru-my-foobar"
# - If set to true, use [bucket_name]+"-meta" for storing metadata.
use_separate_bucket_for_metadata = true

# - Service account private key json file path
# credentials_file_path = "${OTARUDIR}/credentials.json"

# Blob cache config

# - Directory for storing cache.
cache_dir = "/var/cache/otaru"
# - Cache directory high water mark:
#     cache discard will run if cache dir usage is above this threshold.
cache_high_watermark = "25GB"
# - Cache directory low water mark:
#     cache discard will try to keep cache dir usage below this threshold.
cache_low_watermark = "18GB"

# - If true, forbid any modificatino to the filesystem.
# read_only = false

# - If specified, FUSE mount to specified point.
# fuse_mount_point = "/mnt/otaru"
# - Run GC once per specified seconds. Set -1 to disable auto GC.
# gc_period = 900

# API server config
[api_server]
# - API server listen addr. Defaults to ":10246".
# listen_addr = ":10246"

# - Enable debug apis. Makes otaru insecure. Defaults to false.
# enable_debug = false

# - If specified, serve webui from the specified directory instead of using embedded one.
# webui_root_path = "/home/kouhei/go/src/github.com/nyaxt/otaru/webui/dist"

# - TLS certificate file. Defaults to "${OTARUDIR}/cert.pem"
# cert_file = "cert.pem"

# - TLS key file. Defaults to "${OTARUDIR}/cert-key.pem"
# key_file = "cert-key.pem"

# - CORS allowed origins.
#   Domains listed here will be added to "Access-Control-Allow-Origin" HTTP header.
# cors_allowed_origins = ["https://localhost:9000"]

# Logger config
[logger]

# - Log levels at startup. The log levels can be dynamically configured via webui.
log_level = {"*" = "Debug", "bfuse" = "Info", "scheduler" = "Info"}

# Fluentd log forwarder config
[fluent]
# - Target fluentd hostname. Fluentd log forwarder enabled if this is non-empty
# fluent_host = "localhost"

# - Target fluentd port (default 24224)
# fluent_port = 24224
